<html>

<head>
    <title>Logs</title>
    <style>
        
        body{
            background-color: black;
            color: white;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: darkblue;
            color: #dddddd;
        }
    </style>
</head>

<body>
    <h1>Logs</h1>
    <table>
        <tr>
            <th>IP</th>
            <th>Access Time</th>
            <th>User Agent</th>
            <th>Country</th>
            <th>Referer</th>
            <th>Redirect URL</th>
            <th>Count</th>
            <th>Lure</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.ip.strip('"') }}</td>
            <td>{{ log.time }}</td>
            <td>{{ log.user_agent.strip('"') }}</td>
            <td>{{ log.country.strip('"') }}</td>
            <td>{{ log.referer.strip('"') }}</td>
            <td>{{ log.redirect_url.strip('"') }}</td>
            <td>{{ log.count }} </td>
            <td><a href=http://alpha04.uber.space/{{ log.lure.strip('"') }}>http://alpha04.uber.space/{{ log.lure.strip('"') }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
